
.section-gap{
    padding-top: 70px;
    padding-bottom: 40px;
}

.nav-link{
    margin: 0 15px;
}

.all-button{
    background-color: #21B573 !important;
    color: aliceblue;
    border: none;
    margin-bottom: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

.slide-background{
    background-color: snow;
}
.ready-to-learn{
    color: #F15228;
}

.learn-w-fun{
    font-size: 55px;
}

span{
    color: #21B573;
}
.carousel-item{
    padding: 80px 5px;
}

.cat-item h4{
    padding-top: 5px;
}
.cat-item:hover{
   transform: scale(1.2);

}

.o-course{
    padding: 40px;
    color: #423961;
    font-size: 60px;
}

.course-name:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card-title{
    font-size: 30px;
    color: #423961;
}

.card-text{
    font-size: 20px;
}

.img-card{
    width: ;
}

.card-bottom{
    float: left;
    width: auto;
}


.t-heder{
    padding: 40px;
    color: black;
    font-size: 60px;
}


.t-para{
    font-size: 20px;
    font-weight: 600;
}
.fot-all{
     background-color: #282531;
     color: white;
}
.fot-all p{
        font-size: 18px;
        margin-left: 40px;
}



 .signup{
     background-color: slategrey;
 }








footer{
    padding-top: 50px;
}




